<ion-view>
  <ion-content>
    <div class="card list">
      <div class="item item-divider calm-bg">
        Mochilas
      </div>
      <div class="item item-image">
        <img src="img/dicas_mochila.jpg">
      </div>
      <div class="item item-divider balanced-bg">
        Troco
      </div>
      <div class="item item-image">
        <img src="img/dicas_troco.jpg">
      </div>
      <div class="item item-divider energized-bg">
        Use cartões
      </div>
      <div class="item item-image">
        <img src="img/dicas_cartao.png">
      </div>
    </div>
  </ion-view>
</ion-content>