	<ion-view>
	<ion-content>
		<div class="card">
		  <div class="item item-divider calm-bg">
		    Este aplicativo...
		  </div>
		  <div class="item item-text-wrap">
		     - não tem vinculo com a Viaçãp Iapo até o momento(28/03/2017)
		  </div>
		  <div class="item item-text-wrap">
		     - é mantida por iniciativa propria
		  </div>		  
		  <div class="item item-text-wrap">
		     - é atualizada conforme mudanças na pagina da empresa(www.iapo.com.br)
		  </div>
		  	<div class="item item-text-wrap">
		      - para sugestões estou disponivel no email: lc.pg@hotmail.com
		  </div>
		  <div class="item item-text-wrap">
		      - versão 0.4
		  </div>
		</div>
	</ion-content>
</ion-view>