<ion-view>
	<ion-content>
		<div class="card">
		  <div class="item item-divider calm-bg">
		    Castro -  Ponta Grossa
		  </div>
		  <div class="item item-text-wrap">
		     R$ 4,85
		  </div>
		</div>
		<div class="card">
		  <div class="item item-divider balanced-bg">
		    Castro -  Carambei
		  </div>
		  <div class="item item-text-wrap">
		     R$ 4,05
		  </div>
		</div>
		<div class="card" >
		  <div class="item item-divider energized-bg">
		    Carambeí -  Ponta Grossa
		  </div>
		  <div class="item item-text-wrap">
		     R$ 3,75
		  </div>
		</div>
	</ion-content>
</ion-view>